.explore_box {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
}
.explore_item {
    position: relative;
    width: 33.3vw;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}
.explore_box .explore_item .explore_item_img {
    width: 100%;
}
.explore_hover_img {
    width: 20px;
    height: 20px;
}
.explore_like_follow {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}